$plum1: #a09ca6;
$plum2: #CD96CD;
$coral: #F08080;
$sgreen: #5ec39d;
@import url(https://fonts.googleapis.com/css?family=Sumana);
// $black: #2a2529;
$black:  #030303;
$bg: #66647a;

$font-main: 'Sumana', 'Times', serif;
$font-helper: $font-main;
