@import url(https://fonts.googleapis.com/css?family=Sumana:400,700);
@import 'variables';

//  DIVS

#header {
  text-align: center;
  border-bottom: 5px solid $black;
  margin-bottom: 10px;
  color: $black;
}

#wrapper {
  max-width: 1000px;
  margin: auto;
  border: 5px solid $black;
  padding: 20px;
}

#headlines {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#headlines * {
  font-family: $font-helper;
  line-height: 1.2;
  display: inline-block;
}

#detail {
  text-align: center;
  font-family: $font-helper;
  line-height: 1.2;
  color: $black;

  h2 {
    color: $black;
  }
}

//  ELEMENTS

h1 {
  font-family: $font-main;
  font-weight: 700;
  font-size: 500%;
  margin: 0;
}

img {
  max-width: 400px;
}

a {
  color: $plum1;
}

//  CLASSES

.category {
  font-family: $font-main !important;
  color: $black !important;
  border-bottom: 2px solid $black;
}

.detailLink {
  cursor: pointer;
}

.detailPane:not(#landing) {
  display: none;
}

.detailText {
  max-width: 500px;
  margin: auto;
}

span.list, span.category {
  color: $plum1;
  padding-left: 2px;
  padding-right: 2px;
}
